.post {
    background-color: lightgray;
    padding: 10px;
    margin-right:2.5%;
    margin-top: 10px;
    border-width:  2px;
    border-color: black;
    border-style: solid;
    list-style-type: none;
    white-space: pre-wrap;
}

.latest-posts {
    margin-top: 2.5%;
}

.latest-header {
    text-align: center;
    font-weight: normal;
}